
/*
everything within the html can be styled in the corresponding bracket. this will style everything in the "body" tag with the elements below.
*/
body {
  /*
this is for the page's main gray background
*/  
    background-color: #777;
      /*
this changes length of header, nav,s ection, aside, footer. remember that article, h1 and p are in their own thing.
*/  
    width: 960px;
      /*
font included
*/  
    font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
      /*
this makes all text centered
*/  
    text-align: center;
      /*
this makes the text gray. (again, article, h1 and p are in a separate command)
*/  
    color: #777;
      /*
18 point font for all
*/  
    font-size: 18px;

/*
header and nav are groped together for this command. includes the off-white background, margin which impacts space between elements, and padding which increases or decreases height
*/  
}
header, nav {
	background-color: #ebebeb;
	margin: 8px 100px 8px 100px;
    padding: 25px;
}

/*
same as above...plus...width which makes it skinny or fat, float which moves it right or left, and the padding which increases/decreses height. another note about float...could be used to float an image so text wraps around it. also looks nice with a margin command after it.
*/ 
aside {
	background-color: #ebebeb;
	margin: 8px 100px 15px 15px;
	width: 250px;
	float: right;
	padding-top: 25px;
    padding-bottom: 180px;
}

/*
I think this is acting as a separate section from the header, nav,aside, footer. it is the group for article, h1 and p.
The other commands are ad exlained above.
*/
section {
	background-color: #ebebeb;
	width: 495px;
	margin: 15px 15px 15px 100px;
	padding-top: 25px;
    padding-bottom: 5px;
}

/*
clear works in conjunction with float. use it so things won't wrap around something that is floated.
*/


/*
commands as explained above.
*/
article {
	background-color: #777;
	margin: 8px 8px 8px 8px;
	color: #ebebeb;
	padding-top: 15px;
	padding-bottom: 15px;
}

/*
commands as explained above.
*/
p {
	background-color: #ebebeb;
	margin: 8px 8px 0px 8px;
	color: #777;
    padding: 12px;
}

/*
commands as explained above.
*/
h1 {
	background-color: #ebebeb;
	margin: 8px 8px 8px 8px;
	color: #777;
    padding: 12px;
	}

/*
commands as explained above.
*/
footer {
	background-color: #ebebeb;
	margin: 8px 100px 8px 100px;
	padding-top: 25px;
	padding-bottom: 25px;
    
    }
    



   